{% extends "layouts/base.twig" %}

{% block main_content %}
			<section class="content-wrapper page home">
				<article class="main-content {{sidebar_class}}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>

			</section>
{% endblock %}
