.wrap{
    padding: 3rem 0px;
    margin: 0 auto;
    lost-utility:clearfix;
    &--flex{
        lost-utility:clearfix;
    	display: flex;
    	flex-flow:row wrap;
    }
}

.container{
	lost-utility:clearfix;
    // padding-left: 5%;
    // padding-right: 5%;
    margin: 0 auto;
    max-width: 1140px;
}
