@media all and (min-width:1400px) {
	.container{
		// padding-left: 15rem;
	    // padding-right: 15rem;
	}
}
@media all and (max-width:64.75em) {
	.main-nav{
		&  h1{
			font-size: .8rem;
			padding: 0 1px;
		}
	}
}

@media all and (max-width:1140px) {
	.container{
		padding-left: 5%;
	    padding-right: 5%;
	}
	.home h3 {
    	font-size: 1.85rem; 
	}
}

@media all and (max-width:960px) {


	.sow-features-list.sow-features-responsive .sow-features-feature {
	    width: 100% !important;
	    float: none;
	    margin-bottom: 40px;
	}
}
